.container{
width: 95%;
margin: 0 auto;    
}
.title h1{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 40px;
padding-top: 40px;    
}
.cards{
display: flex;
justify-content: space-around; 
margin-top:30px ;   
}
.card{
width: 350px;
height: 220px;    
background: rgba(128, 128, 128, 0.11);
box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;   
border-radius: 10px; 
transition: 0.3s;
}
.card:hover{
transform: scale(1.1);
}
.icon{
text-align: center;   
padding-top: 50px; 
}
.icon p{
font-size: 50px; 
color: rgb(34, 33, 33);
/* color:#029be2de;    */
}
.icon h1{
font-size: 25px;
margin-top: 20px;   
font-family: 'Nunito Sans', sans-serif;   
}